
/* Carousol*/
.carousel-container {
    width: 100%;
    margin: auto;
    height: 350px; /* Short height */
    overflow: hidden;
    background-color: #333333;

  }
  
  .carousel-container img {
    width: 100%;
    height: 500px; /* Adjust height */
    object-fit: cover; /* Ensures proper image scaling */
  
  }
  